@font-face {
  font-family: 'MuseoSansCyrl300';
  font-display: swap;
  src: url('../fonts/MuseoSansCyrl-300.eot') format("eot"),
    url('../fonts/MuseoSansCyrl-300.woff') format("woff"),
    url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl500';
  font-display: swap;
  src: url('../fonts/MuseoSansCyrl-500.eot') format("eot"),
    url('../fonts/MuseoSansCyrl-500.woff') format("woff"),
    url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl700';
  font-display: swap;
  src: url('../fonts/MuseoSansCyrl-700.eot') format("eot"),
    url('../fonts/MuseoSansCyrl-700.woff') format("woff"),
    url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl900';
  font-display: swap;
  src: url('../fonts/MuseoSansCyrl-900.eot') format("eot"),
    url('../fonts/MuseoSansCyrl-900.woff') format("woff"),
    url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}