// Colors
$white: #ffffff;
$black: #000000;

// Sizes


// Fonts
$main-font: MuseoSansCyrl300,
Arial,
sans-serif;
$MuseoSansCyrl300: MuseoSansCyrl300;
$MuseoSansCyrl500: MuseoSansCyrl500;
$MuseoSansCyrl700: MuseoSansCyrl700;
$MuseoSansCyrl900: MuseoSansCyrl900;